<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrarse</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100">
    <div class="flex items-center justify-center min-h-screen">
        <div class="px-8 py-6 mt-4 text-left bg-white shadow-lg rounded-lg">
            <h3 class="text-2xl font-bold text-center">Crear una cuenta</h3>

            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="p-4 mt-4 text-sm text-red-700 bg-red-100 rounded-lg" role="alert">
                    {{ messages[0] }}
                </div>
            {% endif %}
            {% endwith %}

            <form method="POST" action="/signup">
                <div class="mt-4">
                    <div>
                        <label class="block" for="name">Nombre</label>
                        <input type="text" placeholder="Nombre" name="name"
                               class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600" required>
                    </div>
                    <div class="mt-4">
                        <label class="block" for="email">Correo Electrónico</label>
                        <input type="email" placeholder="Email" name="email"
                               class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600" required>
                    </div>
                    <div class="mt-4">
                        <label class="block">Contraseña</label>
                        <input type="password" placeholder="Contraseña" name="password"
                               class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600" required>
                    </div>
                    <div class="flex items-baseline justify-between">
                        <button class="px-6 py-2 mt-4 text-white bg-blue-600 rounded-lg hover:bg-blue-700">Registrarse</button>
                        <a href="{{ url_for('auth.login') }}" class="text-sm text-blue-600 hover:underline">Iniciar Sesión</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
